<html>
  <body>
    <h1>Reunion at the <%= @reunion.location %></h1>
    <hr />
    <h3>Today's Activites:</h3>
    <ul><% @reunion.activities.each do |activity| %>
        <li><%= activity.name %> (Cost: $<%= format '%.2f', activity.price_per_participant %>)</li><% end %>
    </ul>
    <p>Total cost: $<%=  %></p>
    <hr />
    <h3></h3>
    <ul>
      <li>Sue: -$1.00</li>
    </ul>
  </body>
</html>